<!DOCTYPE html>
<html>
  <head>
    <title>MSM SIGNIN</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav>
      <a href="/">
        Home
      </a>
    </nav>

    <%if session.fetch(:user_id) == nil%>

    <nav>
      <a href="/user_sign_up">
        Sign Up
      </a>
    </nav>

    <nav>
      <a href="/user_sign_in">
        Sign In
      </a>
    </nav>

    <%else%>

    <nav>
      <a href="/bookmarks">
        My bookmarks
      </a>
    </nav>

    <nav>
      <a href="/user_sign_out">
        Sign Out
      </a>
    </nav>
    <%end%>

    <%= yield %>
  </body>
</html>
